@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-color {
    @apply text-gray-50;
  }

  .text-color-link {
    @apply text-gray-50 hover:text-gray-500;
  }
}

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.scene{
  width:100vw;
  height:100vh;
  position: fixed;
}

.canvas{
  background: #000;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px hsl(var(--b1) / var(--tw-bg-opacity)) inset; /* Change the color to your own background color */
    -webkit-text-fill-color: rgb(107 114 128);
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px hsl(var(--b1) / var(--tw-bg-opacity)) inset;/*your box-shadow*/
    -webkit-text-fill-color: rgb(107 114 128);
} 
